<h1>These are all the pets that are lost</h1>

<ul>
  <% @pets.each do |pet| %>
    <li>
      <%= link_to pet.name, pet_path(pet) %>
      <%= link_to "Mark as found", pet_path(pet), method: :delete, data: { confirm: "Are you sure you found this pet?" } %>
    </li>
  <% end %>
</ul>
